.theme {
  position:fixed;
   top:0;
   right:0;
}

.themeButton {

}

.toggleBtn {
  font-size: 15px;
}

.toggleBtn2 {
  font-size: 10px;
}

h3 {
  font-size: 35px;
}

canvas {
  display: none;
  visibility: hidden;
}
